@import url('https://fonts.googleapis.com/css2?family=Danfo&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Danfo&family=Unbounded:wght@200..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style-type: none;
    color: #000;
    transition: 0.8s;
}

:root{
    --font: "Danfo", serif;
    --font2:"Unbounded", sans-serif;
    --bg:#d8d8d8;
    --nav: #fff8dc;
    --botoes:#ff4706;
    --btn-hover: #f78054;
    --textos: #000000;
    --sombra:#000000;
}

.dark-mode:root{
    --bg:#282825;
    --textos: #d8d8d8;
    --sombra:#FFF;
}

body{
    background-color: var(--bg);
}

body h1, p{
    color: var(--textos);
}

.fa-moon{
  display: none;
}

.fa-solid{
    padding: 5px 20px;
}

header nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--botoes);
    font-family: var(--font2);
}

nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav li{
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    margin: 20px;
    color: var(--nav);
}

nav li:hover{
    background-color:var(--nav);
    border-radius: 10px 30px;
    padding: 10px;
    color: black;
    transition: 0.5s;
}


header h1{
    font-family: var(--font2nt);
    font-size: 40px;
    color: var(--nav);
}

header i{
    color: var(--nav);
}
header i:hover{
    color: black;
    transition: 0.5s;
}

/** MAIN */

main{
    width: 1500px;
    margin: auto;
}

section{
    height: 90vh;
    display: flex;
    margin: auto;
    align-items: center;
}

h1{
    font-family: var(--font2);
    font-size: 40px;
}

p{
    width: 700px;
    font-size: 20px;
    margin: 20px 0px;
}

i{
    color: var(--textos);
}

.redes{
    display: flex;
    align-items: center;
}

button{
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: var(--botoes);
    color: var(--bg);
    transition: 0.5s;
}

button:hover{
    background-color:var(--btn-hover);
    color: #000;
    transition: 0.5s;
}

.redes i{
    margin: 20px;
    font-size: 30px;
}

img{
    width: 470px;
    height: 500px;
    transition: 1.5s;
}

.container-img {
    position: relative;
    transition: 1.5s;
}

.container-img img:nth-child(1){
    width: 500px;
    height: 600px;
}

.container-img img:nth-child(2){
    position: absolute;
    top: 80px;
    left: -90px;
}

.container-img:hover img:nth-child(1){
    transform: translateY(50px) translateX(50px); 
    transition: 1.5s;
    filter: drop-shadow(-10px 10px 10px var(--sombra));
}
.container-img:hover img:nth-child(2){
    transform: translateY(-50px); 
    transition: 1.5s;
    filter: drop-shadow(-10px 0px 15px var(--sombra));
}

/*  Celulares menores  */
@media (min-width: 360px) and (max-width: 767.98px){
    body{
        background-color: #ff00ff;
    }
    
}
