@import url('https://fonts.googleapis.com/css2?family=Danfo&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Danfo&family=Unbounded:wght@200..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style-type: none;
    color: #000;
    transition: 0.8s;
}

:root{
    --font: "Danfo", serif;
    --font2:"Unbounded", sans-serif;
    --bg:#d8d8d8;
    --nav: #fff8dc;
    --botoes:#ff4706;
    --btn-hover: #f78054;
    --textos: #000000;
    --sombra:#000000;
}

.dark-mode:root{
    --bg:#282825;
    --textos: #d8d8d8;
    --sombra:#FFF;
}

body{
    background-color: var(--bg);
}

body h1, p{
    color: var(--textos);
}

.fa-moon{
  display: none;
}

.fa-solid{
    padding: 5px 20px;
}

header nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--botoes);
    font-family: var(--font2);
}

nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav li{
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    margin: 20px;
    color: var(--nav);
}

nav li:hover{
    background-color:var(--nav);
    border-radius: 10px 30px;
    padding: 10px;
    color: black;
    transition: 0.5s;
}

header h1{
    font-family: var(--font2nt);
    font-size: 40px;
    color: var(--nav);
}

header i{
    color: var(--nav);
}
header i:hover{
    color: black;
    transition: 0.5s;
}

.mobile-menu {
    display: none;
    cursor: pointer;
  }
  
.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
 }

/** MAIN */

main{
    width: 1500px;
    margin: auto;
}

section{
    height: 90vh;
    display: flex;
    margin: auto;
    align-items: center;
}

h1{
    font-family: var(--font2);
    font-size: 40px;
}

p{
    width: 700px;
    font-size: 20px;
    margin: 20px 0px;
}

i{
    color: var(--textos);
}

.redes{
    display: flex;
    align-items: center;
}

button{
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: var(--botoes);
    color: var(--bg);
    transition: 0.5s;
}

button:hover{
    background-color:var(--btn-hover);
    color: #000;
    transition: 0.5s;
}

.redes i{
    margin: 20px;
    font-size: 30px;
}

img{
    width: 470px;
    height: 500px;
    transition: 1.5s;
}

.container-img {
    position: relative;
    transition: 1.5s;
}

.container-img img:nth-child(1){
    width: 500px;
    height: 600px;
}

.container-img img:nth-child(2){
    position: absolute;
    top: 80px;
    left: -90px;
}

.container-img:hover img:nth-child(1){
    transform: translateY(50px) translateX(50px); 
    transition: 1.5s;
    filter: drop-shadow(-10px 10px 10px var(--sombra));
}
.container-img:hover img:nth-child(2){
    transform: translateY(-50px); 
    transition: 1.5s;
    filter: drop-shadow(-10px 0px 15px var(--sombra));
}

/*  Celulares menores  */
@media (min-width: 360px) and (max-width: 767.98px){
    body{
        overflow-x: hidden;
     }
    .nav-list {
        position: absolute;
        top: 7vh;
        right: 0;
        width: 50vw;
        height: 93vh;
        background: var(--botoes);
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
        z-index: 3;
     }
     .nav-list li {
        margin-left: 0;
        opacity: 0;
     }
     .mobile-menu {
        display: block;
     }

     .nav-list.active {
        transform: translateX(0);
     }
      
     .nav-list li:last-child {
        order: -1;
    }
     @keyframes navLinkFade {
        from {
          opacity: 0;
          transform: translateX(50px);
        }
        to {
          opacity: 1;
          transform: translateX(0);
        }
     }
      
     .mobile-menu.active .line1 {
        transform: rotate(-45deg) translate(-8px, 8px);
     }
      
     .mobile-menu.active .line2 {
        opacity: 0;
     }
      
     .mobile-menu.active .line3 {
        transform: rotate(45deg) translate(-5px, -7px);
     }

     nav{
        padding: 20px 0px;
     }

     header h1{
        font-size: 35px;
    }

    /** main */
    main{
        width: 100vw;
        display: flex;
        align-items: center;
        text-align: left;
        margin: 80px 0px;
    }
    
    section{
        height:90vh;
        display: flex;
        flex-direction: column;
    }

    h1{
        font-family: var(--font2);
        font-size: 20px;
        width: 350px;
    }
    
    p{
        width: 300px;
        font-size: 18px;
        margin: 20px 0px;
        text-align: justify;
    }
    
    i{
        color: var(--textos);
    }
    
    .redes{
        display: flex;
        align-items: center;
    }
    
    button{
        font-size: 14px;
    }

    
    .redes i{
        margin: 10px;
        font-size: 20px;
    }

    /** IMAGEM*/

    img{
        width: 270px;
        height: 200px;
        transition: 1.5s;
    }
    
    .container-img img:nth-child(1){
        width: 300px;
        height: 300px;
    }
    
    .container-img img:nth-child(2){
        left: -30px;
    }

}
/*  tablets  e alguns celulares  */
@media (min-width:768px) and (max-width: 991.98px){
 
 body{
    overflow-x: hidden;
 }
 .nav-list {
    position: absolute;
    top: 7vh;
    right: 0;
    width: 50vw;
    height: 98vh;
    background: var(--botoes);
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
    z-index: 3;
 }

 nav{
    padding: 20px 0px;
 }
 .nav-list li {
    opacity: 0;
 }

 .nav-list li:last-child {
    order: -1;
    margin: 0px;
}

 .mobile-menu {
    display: block;
 }

  
 .nav-list.active {
    transform: translateX(0);
 }
  
 @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
 }
  
 .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
 }
  
 .mobile-menu.active .line2 {
    opacity: 0;
 }
  
 .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
 }

 main{
    width: 50vw;
    margin: auto;
 }

 section{
    height: 90vh;
    display: flex;
    flex-direction: column;
    margin:100px  auto;
    align-items: center;
 }

 .container-img img:nth-child(1){
    width: 300px;
    height: 400px;
 }

 .container-img img:nth-child(2){
    width: 300px;
    height: 400px;
 }
}
